<h2>Здравствуйте! С вашего последнего посещения сайта, у нас появились новый посты!</h2>

<ul>
  {{#each posts as | post |}}
    <li>[{{dateCreate}}]: [<b>{{type}}</b>] - {{title}}</li>
  {{/each}}
</ul>
